<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../details.css" />
    <title>Document</title>
</head>

<body>
    <main>
        <div id="showForm">
            <ul>
                <% book.forEach(book => { %>
                <li class="each-book">
                    <div><img src=<%= book.image %>></div>
                    <div class="title"><%= book.title %></div>
                    <div class="authors"><%= book.authors %></div>
                    <div class="description"><%= book.description %></div>
                    <div class="isbn"><%= book.isbn %></div>
                    <div class="isbn1"><%= book.bookshelf %></div>

                    <div id="fl">
                    <form action="/update" method="post">
                        <input type="hidden" name="id" value="<%- book.id %>">
                        <input type="hidden" name="title" value="<%- book.title %>">
                        <input type="hidden" name="authors" value="<%- book.authors %>">
                        <input type="hidden" name="isbn" value="<%- book.isbn %>">
                        <input type="hidden" name="image" value="<%-  book.image %>">
                        <input type="hidden" name="bookshelf" value="<%= book.bookshelf %>">
                        <input type="hidden" name="description" value="<%- book.description %>">
                        <button id="Update" type="submit">Update</button>
                    </form>

                    <form action="/delete/<%= book.id %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button id="delete" type="submit">Delete</button>
                    </form>
                </div>
                </li>
                <% }) %>
        </ul>
            <div>
    </main>

</body>

</html>