<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" href="../select.css" />
</head>

<body>
    <main>
        <form action="/add" method="POST">
            <input class="input" type="text" name="title" placeholder="title" value="<%= book.title %>">
            <input class="input" type="text" name="authors" placeholder="author" value="<%= book.authors %>">
            <input class="input" type="text" name="ISBN" placeholder="isbn" value="<%= book.ISBN %>">
            <input class="input" type="text" name="image" placeholder="image" value="<%= book.image %>">
            <textarea class="des" type="text" name="description"
                placeholder="description"><%= book.description %></textarea>
            <input class="input" type="text" name="bookshelf" placeholder="bookshelf">
            <button>Add to DataBase</button>
        </form>
    </main>
</body>

</html>