<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <% searchResults.forEach(book => { %>
    <li>
        <div><%= book.title %></div>
        <div><%= book.authors %></div>
        <div><img src=<%= book.image %>></div>
        <div><%= book.isbn %></div>
        <div><%= book.description %></div>
        <div><%= book.bookshelf %></div>
    </li>
    
    <% }) %>
</body>

</html>